.right{
    float: right !important;
    text-align: right !important;
    margin-right:0% !important ;
}
.navbar-expand-lg{
    background-color: rgb(224, 131, 131) !important;
}
.height_image{
    height: 100px !important;
}
/* .col-md-2>img{
    margin-top: 20% !important;
} */
/* .information{
    width: 50%;
    height: 100px;
    margin: 5% auto;
    display: inline-block;
} */